$font-gothic: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif

body
  font-family: $font-gothic
  margin: 15px

input
  display: block

#content
  margin-right: auto
  margin-left: auto
  vertical-align: middle
  width: 100%

#btn_select
  width: 100%
  margin-bottom: 10px
